<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MY PAge</title>
</head>
<body>
    <h1> Hello everyone</h1> 
  <form action="/analyze" method="get">
        <textarea type="text" name="text" rows="4" cols="50"></textarea>
        <br>
        <input type="checkbox" name="removepunc"> Correct words<br>
        <input type="checkbox" name="fullcaps"> Capital <br>
        <input type="checkbox" name="lowcaps"> low<br>
        <button type="submit">Clear  Text</button> 
    </form>
</body>
</html>